# Object files
*.o
*.ko
*.obj
*.elf

# Assembly files
*.lst
*.rel
*.sym
*.adb

# Directory's
xc888_lib_v0.1/
LedBolXC888/bin/
LedBolXC888/obj/

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.tlog
*.log
